.account-container{
    background-color: #FEF9F6;
    color: #000000;
    padding: 20px;
    max-width: 500px;
    border-radius: 22px;
    border: 5px #dc8239 solid;
    padding: 50px;

    margin: 10px;
}
