.banner {
  position: relative;
  background-color: #8FD8D2;
  text-align: center;
}

.banner img {
  max-width: 100%;
  align-items: center;
}

.menu-container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
